services:
  db:
    image: postgres:16-alpine
    env_file: .env.prod
    volumes: [ "pgdata:/var/lib/postgresql/data" ]

  redis:
    image: "redis:7-alpine"

  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file: .env.prod
    expose: [ "8000" ]
    depends_on: [ db, redis ]
    volumes:
      - static_files:/code/staticfiles
      - media_files:/code/media

  nginx:
    image: nginx:alpine
    ports: [ "80:80" ]
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_files:/code/staticfiles
      - media_files:/code/media
    depends_on: [ web ] 

  celery_worker:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file: .env.prod
    depends_on: [ db, redis ]
    command: celery -A config worker --loglevel=info

  celery_beat:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file: .env.prod
    depends_on: [ db, redis ]
    
    # important to remove old pid file to avoid startup issues
    command: sh -c "rm -f ./celerybeat.pid &&
             celery -A config beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler"

volumes:
  pgdata:
  static_files:
  media_files: