{% extends "base.html" %}

{% load humanize %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock %}

{% block content %}
<h2>Dashboard</h2>
<h5 class="card-title mb-4">Welcome, {{ profile.user.username }}.</h5>

<div class="row">
  {% for wallet in wallets %}
  <div class="col-md-4 mb-4">
    <div class="card card-hover wallet-card" id="{{ wallet.currency }}">
      <div class="card-header">
        {{ wallet.currency.code }} Wallet
      </div>
      <div class="card-body">
        <p class="card-text">Balance: <strong>{{ wallet.symbol }}{{ wallet.balance|intcomma }}</strong></p>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col">
    <p>You don't have any wallets yet. Please contact an admin</p>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
{% endblock %}