{% extends "base.html" %}

{% load humanize %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Dashboard</h2>
<h5 class="card-title mb-4">Welcome, {{ profile.user.username }}.</h5>

<div class="row">
  {% for wallet in wallets %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-header">
        {{ wallet.get_currency_display }} Wallet
      </div>
      <div class="card-body">
        <p class="card-text">Balance: <strong>{{ wallet.symbol }}{{ wallet.balance|intcomma }}</strong></p>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col">
    <p>You don't have any wallets yet. Please contact an admin</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
