{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} | TradeSim</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>


<body class="d-flex flex-column min-vh-100">

  <!-- TODO: NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% if profile.user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/accounts/logout">Logout</a>
        </li>
    </ul>
    {% endif %}
  </nav>

  <!-- MAIN PAGE CONTENT -->
  <main class="flex-grow-1">
    <div class="container py-4">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <!-- TODO: FOOTER -->
  <footer class="bg-light border-top py-3 mt-auto">

  </footer>

  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  {% block extra_js %}
  {% endblock %}
</body>
</html>
